@page "/AddSpare"

<PageTitle>AddService</PageTitle>

<h1 class="text-center">Добавить услугу</h1>


<EditForm Model="spare" OnSubmit="AddNewSpare">
    <div class="form-group">
        <label>Введите название комплектующего</label>
        <InputText class="form-control" @bind-Value="spare.Title"></InputText>
    </div>
    
    <div class="form-group">
        <label>Введите стоимомть комплектующего</label>
        <InputText class="form-control" @bind-Value="spare.Price"></InputText>
    </div>
    
    <div class="form-group">
        <label>Введите колличество комплектующих</label>
        <InputText class="form-control" @bind-Value="spare.Quantity"></InputText>
    </div>
    
    <div class="form-group">
        <label>Введите устройство, поддерживающее это комплектующее</label>
        <InputText class="form-control" @bind-Value="spare.Device"></InputText>
    </div>
    
    <div class="form-group">
        <label>Введите описание комплектующиего</label>
        <InputText class="form-control" @bind-Value="spare.Details"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</EditForm>



@code {
    public class SpareModel
    {
        public string? Title { get; set; }
        public string? Price { get; set; }
        public string? Quantity { get; set; }
        public string? Device { get; set; }
        public string? Details { get; set; }
    }

    SpareModel spare = new SpareModel();

    private async Task AddNewSpare()
    {

        var httpClient = new HttpClient();
        var client = new Client("https://localhost:7195/", httpClient);

        await client.AddSpareAsync(new AddSpareDTO
            {
                Price = Convert.ToDecimal(spare.Price),
                Title = spare.Title,
                Details = spare.Details,
                Quantity = Convert.ToInt32(spare.Quantity),
                Device = spare.Device
            });
        httpClient.Dispose();

        spare.Title = string.Empty;
        spare.Price = string.Empty;
        spare.Device = string.Empty;
        spare.Details = string.Empty;
        spare.Quantity = string.Empty;
    }
}

