@page "/"

<PageTitle>Главная</PageTitle>

<h1 class="text-center">Сервисный центр</h1>


<img src="https://sun9-23.userapi.com/c849032/v849032764/c382e/Zfy149lgsaQ.jpg" class="img-fluid" alt="Responsive image">

<SurveyPrompt Title="Как использовать?" />
